@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.marquee {
  background-color: #000;
  overflow: hidden;
}
.marquee-inline {
  display: flex;
  animation: marquee 12s linear infinite;
  /* animation-play-state: paused; */
}
.marquee span {
  color: #fff;
  font-weight: 900;
  font-size: 2vw;
  padding: 0 2vw;
}

@keyframes marquee {
  0% {
    transform: translate3d(100vw, 0, 0);
  }

  100% {
    transform: translate3d(-100vw, 0, 0);
  }
}
.wrap {
  border: 2px solid black;
  width: 30vw;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
